<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shojib.project_moon" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="i_Care_dcc"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="i_Care_dcc" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.DisplayContactActivity"
            android:label="@string/title_activity_display_contact" >
        </activity>
        <activity
            android:name=".Activity.HealthServiceActivity"
            android:label="@string/title_activity_health_service" >
        </activity>
        <activity
            android:name=".Activity.MedicationActivity"
            android:label="@string/title_activity_medication" >
        </activity>
        <activity
            android:name=".Activity.VaccinationActivity"
            android:label="@string/title_activity_vaccination" >
        </activity>
        <activity
            android:name=".Activity.DietChartActivity"
            android:label="@string/title_activity_diet_chart" >
        </activity>
        <activity
            android:name=".Activity.HospitalActivity"
            android:label="@string/title_activity_hospital" >

        </activity>
        <activity
            android:name=".Activity.DoctorsActivity"
            android:label="@string/title_activity_doctors" >
        </activity>
        <activity
            android:name=".Activity.RbsActivity"
            android:label="@string/title_activity_rbs" >
        </activity>
        <activity
            android:name=".Activity.DoctorsProfileActivity"
            android:label="@string/title_activity_doctors_profile" >
        </activity>
        <activity
            android:name=".Activity.RbsSaveActivity"
            android:label="@string/title_activity_rbs__save" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.HospitalMapsActivity"
            android:label="@string/title_activity_hospital_maps" >
        </activity>
        <activity
            android:name=".Activity.AdditionalInfoActivity"
            android:label="@string/title_activity_additional_info" >
        </activity>
    </application>

</manifest>
